<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Twitter機能アップ！</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.index5.TwitPref</string>
			<key>key</key>
			<string>isEmojiFavoritesEnabled</string>
			<key>label</key>
			<string>絵文字でふぁぼできるよ！</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>News機能を強化！</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.index5.TwitPref</string>
			<key>key</key>
			<string>isJapanNewsV2Enabled</string>
			<key>label</key>
			<string>ニュースの有効化</string>
		</dict>
        	<dict>
            		<key>cell<key>
            		<string>PSSwitchCell</string>
            		<key>default</key>
            		<true/>
            		<key>defaults</key>
            		<string>com.index5.TwitPref</string>
            		<key>key</key>
            		<string>isJapanNewsV2RankingEnabled</string>
            		<key>label</key>
            		<string>ニュースのランキングが出るよ！</string>
        	</dict>
        	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.index5.TwitPref</string>
			<key>key</key>
			<string>isJapanNewsV2Enabled</string>
			<key>label</key>
			<string>ニュースの有効化</string>
		</dict>
        	<dict>
            		<key>cell<key>
            		<string>PSSwitchCell</string>
            		<key>default</key>
            		<true/>
            		<key>defaults</key>
            		<string>com.index5.TwitPref</string>
            		<key>key</key>
            		<string>isJapanNewsV2RankingEnabled</string>
            		<key>label</key>
            		<string>ニュースのランキングが出るよ！</string>
        	</dict>
        	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.index5.TwitPref</string>
			<key>key</key>
			<string>shouldShowJapanNewsCategoryBusiness</string>
			<key>label</key>
			<string>ニュースのカテゴリにビジネスを追加</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.index5.TwitPref</string>
			<key>key</key>
			<string>showldShowJapanNewsCategoryDomestic</string>
			<key>label</key>
			<string>ニュースのカテゴリに家事を追加</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.index5.TwitPref</string>
			<key>key</key>
			<string>showldShowJapanNewsCategoryInternational</string>
			<key>label</key>
			<string>ニュースのカテゴリに世界のニュースを追加</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.index5.TwitPref</string>
			<key>key</key>
			<string>showldShowJapanNewsCategoryEntertainment</string>
			<key>label</key>
			<string>ニュースのカテゴリにお笑いを追加</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.index5.TwitPref</string>
			<key>key</key>
			<string>showldShowJapanNewsCategoryScienceTech</string>
			<key>label</key>
			<string>ニュースのカテゴリにサイエンスを追加</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.index5.TwitPref</string>
			<key>key</key>
			<string>showldShowJapanNewsCategorySports</string>
			<key>label</key>
			<string>ニュースのカテゴリにスポーツを追加</string>
		</dict>
        	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developers</string>
		</dict>
        	<dict>
	       		<key>action</key>
            		<string>keilink</string>
            		<key>cell</key>
            		<string>PSButtonCell</string>
            		<key>label</key>
            		<string>@todtiddi Kei's Twitter</string>
        	</dict>        
        	<dict>
	       		<key>action</key>
            		<string>jugemlink</string>
            		<key>cell</key>
            		<string>PSButtonCell</string>
            		<key>label</key>
            		<string>@infvhj Jugem's Twitter #This app's author</string>
        	</dict> 
	</array>
	<key>title</key>
	<string>TwitPref</string>
</dict>
</plist>
